<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
        <a class="navbar-brand" href="{% url 'Stock_Autos' %}">Autos</a>
        <a class="navbar-brand" href="{% url 'Stock_Camionetas' %}">Camionetas</a>
        <a class="navbar-brand" href="{% url 'Stock_Motos'%}">Motos</a>
        <a class="navbar-brand" href="{% url 'Agregar_Auto'%}">Agregar Un Auto</a>
        <a class="navbar-brand" href="{% url 'Agregar_Camioneta'%}">Agregar Una Camioneta</a>
        <a class="navbar-brand" href="{% url 'Agregar_Moto'%}">Agregar Una Moto</a>
        <a class="navbar-brand" href="{% url 'Busqueda_Auto_Marca'%}">Buscar Auto por marca</a>
        <a class="navbar-brand" href="{% url 'Busqueda_Camioneta_Marca'%}">Buscar Camioneta por marca</a>
        <a class="navbar-brand" href="{% url 'Busqueda_Moto_Marca'%}">Buscar Moto por marca</a>
        <a class="btn btn-primary" href="#signup">Proximamente</a>
    </div>
</nav>